.members {	display: inline;
	text-align: top;}

button:hover {background-color: #ffffff;}
button {	font-size: 1.2em;
			color: black;
			border: 4px solid #ccc;
			border-style: solid;
			border-radius: 0px;
			background-color: #f4f4f4;
			
			
			}
button:focus {background-color: #ffffff;
}

.member-container {align: left;}

img { float: right;
	margin-left: 20px; }
	
h2 { border: 0px;}
hr { border: 1px solid black;}