.members {	display: inline;
	text-align: top;}

button:hover {background-color: #ffffff;}
button {	font-size: 1.2em;
			color: black;
			border: 4px solid #ccc;
			border-style: solid;
			border-radius: 0px;
			background-color: #f4f4f4;
			font-family: "amandine", sans-serif;
			font-weight: 700;
			font-style: normal;
			}
button:focus {background-color: #ffffff;
}

.member-container {align: left;}

table { font-family: "adobe-garamond-pro", serif;
	font-weight: 400;
	font-style: normal;	
}

img { float: right;
	margin-left: 20px; }
	
p { font-family: "adobe-garamond-pro", serif;
	font-weight: 400;
	font-style: normal;	
}
h1 { font-family: "amandine", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 3em;
}
h2 { border: 0px;
	font-family: "amandine", sans-serif;
	font-weight: 700;
	font-style: normal;
}
hr { border: 1px solid black;}

/* DROPDOWN BOX */

.dropbtn {
    background: none;
    border-radius: 12px;
    font-size: 16px;
    border: none;
}

.dropdown {
    background: none;
    border: none;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    color: white;
    border-radius: 12px;
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 140px;
    z-index: 1;
	font-family: "adobe-garamond-pro", serif;
	font-weight: 400;
	font-style: normal;	
}

.dropdown-content a {
    display: block;
    padding: 12px 12px;
    border-radius: 12px;
    color: white;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #333;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #333;
}
