.members {	display: inline;
	text-align: top;}

button:hover {background-color: #ffffff;}
button {	font-size: 1.2em;
			color: black;
			border: 4px solid #ccc;
			border-style: solid;
			border-radius: 0px;
			background-color: #f4f4f4;
			float: left;
			}
button:focus {background-color: #ffffff;
	border-bottom: hidden;
}

.member-container {align: left;}

