/* Enquire form CSS by Nicolas Rivera - Includes responsiveness */
main {
	height: auto;
}

html {
	scroll-behavior: smooth;
}

body {
	/* General Font */
	font-family: "adobe-garamond-pro", serif;
	font-weight: 400;
	font-style: normal;
	color: rgb(60, 60, 80);
	background-color: #fff3EB;
	overflow-x: hidden;
	/* Prevent horizontal scroll on small screens */
	scroll-behavior: smooth;
	margin: 0;
}

section h1 {
	/* Section Title Font */
	font-family: "amandine", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 3em;
}

section {
	/* Section margin/positioning */
	margin-bottom: 50px;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFFDFB;
	/* Generally sticking to a border radius of 20px, editing when needed */
	border-radius: 20px;
	margin: 20px;
}

section .intro-paragraph {
	/* Aligning paragraph to the right of the heading, setting dimensions */
	display: flex;
	align-items: center;
	justify-content: center;
	resize: vertical;
	text-align: center;
	width: 400px;
	margin-left: 200px;
	height: 250px;
	min-width: 300px;

}


.form-section {
	/*Form background image*/
	background: url("../images/enquiryForm_bg_compressed.png") no-repeat;
	/* background: url("https://i.imgur.com/vwqUyIL.png") no-repeat; Online view backup */
	flex: 1;
	background-position: center;
	background-size: 100% 100%;
	position: relative;
	background-size: cover;
	height: 400px;
	width: 54%;
	border-radius: 20px;
	padding: 250px;
	margin-left: 100px;
	background-color: #fff3EB;

}


.asterisk {
	/*All asterisks in form are red*/
	color: red;
	font-size: 0.9em;
}


fieldset legend {
	/* Sub heading Font */
	font-family: "amandine", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2.25em;
}


.form_wrapper {
	/* Form content box, positioning, background blurry, dimensions */
	display: flex;
	justify-content: center;
	align-items: flex-start;
	/*min-height: 230vh;*/
	width: 625px;
	/*margin: 0;*/
	margin-top: 30px;
	background: transparent;
	backdrop-filter: blur(15px);
	box-shadow: 0 0 10px rgba(0, 0, 0, .4);
	background: rgba(255, 255, 255, 0.4);
	border-radius: 20px;

}

/* Tweaks to form content spacing and textboxes */
.form_wrapper fieldset {
	border-radius: 15px;
	margin-bottom: 0px;

}

#firstName {
	width: 26%;
	margin-right: 5%;

}

#lastName {
	width: 27%;
}

#postcode {
	width: 20%;
	margin-left: 5px;
}

#state {
	font-size: 11px;
	margin-left: 3px;
	width: 10%;
	border-radius: 40px;
	border: 2px solid rgba(255, 255, 255, .2);
	background: #e5e5e5;
}

#postcode+label,
#state+label {
	margin-left: 30px;
}


.input-box {
	/* All comment boxes, adjusting sizes and appearance*/
	width: 50%;
	margin-left: 1%;
	font-size: 12px;
	padding: 1px 10px 0px 10px;
	margin-bottom: 7px;
	outline: none;
	background: #e5e5e5;
	border: none;
	border: 2px solid rgba(255, 255, 255, .2);
	border-radius: 40px;
}

fieldset label i {
	margin-right: 10px;
}

#product {
	width: 40%;
	margin-left: 1%;
	font-size: 12px;
	padding: 1px 10px 0px 10px;
	outline: none;
	background: #e5e5e5;
	border: none;
	border: 2px solid rgba(255, 255, 255, .2);
	border-radius: 40px;
}

#comments {
	/*Comments box size */
	height: 150px;
	width: 400px;
	resize: vertical;
	border-radius: 7px;
}

.submit-button {
	/* Size */
	width: 100%;
	height: 45px;
	margin-top: 15px;
	margin-bottom: 15px;

	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 10px;
	background: #fca311;
	/* Highlight colour */
	box-shadow: 0 0 10px rgba(0, 0, 0, .4);

	/* Font button */
	font-size: 20px;
	font-family: "amandine", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.submit-button:hover {
	background-color: #ff6347;
}


.hr-footer {
	margin-top: 50px;
}

/* Section for demoing products or having text on left/right with image adjacent */
#demo_product_left {
	background: url("../images/LUBA1.jpg") no-repeat;
	display: flex;
	background-position: left;
	background-size: contain;
	position: relative;
	padding: 90px;
	transform: translateX(200px);
	height: 250px;

}

#demo_product_left #text_wrapper_left {
	flex: 1;
	position: relative;
	padding: 20px;
	transform: translateX(100px);
}

#demo_product_right {
	background: url("../images/GT_FreedomEdit.png") no-repeat;
	display: flex;
	background-position: right;
	background-size: contain;
	position: relative;
	transform: translateX(-150px);
	/*Moves section to left*/
	height: 250px;
}

#demo_product_right #text_wrapper_right {
	flex: 1;
	position: relative;
	padding: 20px;
	transform: translateX(-30px);
	/*moves text left*/

}

#demo_product_right,
#demo_product_left {
	background-color: #FFFDFB;
	padding: 60px;
}


#text_wrapper_right,
#text_wrapper_left {
	background-color: #e5e5e5;
	align-items: center;
	justify-content: center;
	resize: vertical;
	text-align: center;
	max-width: 30%;
	max-height: 300px;
	margin: auto;
	border-radius: 20px;
	border: 1px solid #14213d;
	transition: background-color 0.3s ease, border-color 0.3s ease;

}

#text_wrapper_left_logo {
	align-items: center;
	justify-content: center;
	resize: vertical;
	text-align: center;
	max-width: 30%;
	max-height: 300px;
	margin: auto;
	border-radius: 20px;
}

#text_wrapper_right a,
#text_wrapper_left a {
	text-decoration: none;
	color: black;
}

#text_wrapper_right:hover,
#text_wrapper_left:hover {
	background-color: rgba(252, 163, 17, 0.5);
	border-color: green;
	cursor: pointer;
}


#demo_logo_left {
	background: url("../images/apex_automation_logo_full.png") no-repeat;
	display: flex;
	background-color: #FFFDFB;
	background-position: left;
	background-size: contain;
	position: relative;
	padding: 90px;
	transform: translateX(250px);
	height: 250px;

}

#demo_logo_left #text_wrapper_left_logo {
	flex: 1;
	position: relative;
	padding: 20px;
	font-size: 2.5em;
}

#text_wrapper_left_logo h1 {
	font-size: 1em;
}

/* Style for the scroll button */
#go-button {
	top: 100px;
	left: 10px;
	padding: 10px 20px;
	backdrop-filter: blur(4px);
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	cursor: pointer;
	position: fixed;
	z-index: 3;
	font-family: "amandine", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1em;
}

.bx.bx-news {
	/* Move text to right of logo (button) */
	margin-right: 15px;
}


#go-button a {
	text-decoration: none;
	color: white;
	text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
	/* Adds black border around text */
}

#go-button:hover {
	background-color: rgba(255, 255, 255, 1);
}

#footer {
	background: linear-gradient(to right, #333, rgb(30, 144, 255));
	color: #fff;
	text-align: center;
	padding: 10px;
	bottom: 0;
	width: 100%;
}

/* Responsive */
@media screen and (max-width: 768px) {
	section {
		flex-direction: column;
		text-align: left;
		margin: 0;
	}

	section h1 {
		text-align: center;
	}

	section .intro-paragraph {
		margin-left: 0;
		margin-top: 0;
		height: 5%;
		width: 50%;
	}

	.form-section {
		margin-right: 10px;
		padding: 10px;
		height: auto;
		margin: 0;
		width: 95%;

	}

	.form_wrapper {
		width: 90%;
		padding: 20px;
	}

	.input-box {
		width: 40%;
		margin-left: 0;
	}

	#firstName {
		width: 40%;
		margin-right: 10%;
	}

	#lastName {
		width: 40%;
	}

	#state {
		width: 30%;
		margin-right: 40%;
	}

	label[for="postcode"] {
		padding: 0;
		margin: 0;
	}

	#postcode {
		width: 33%;
	}

	fieldset legend {
		margin: 0;
		font-size: 1em;
	}

	fieldset {
		width: 90%;
		margin-left: 5px;
	}

	#comments {
		height: 150px;
		width: 220px;
		margin: 0;
	}

	article {
		margin: 0;
		margin-top: 20px;
	}


	#demo_product_left {
		margin-top: 20px;
	}

	#demo_logo_left {
		margin-top: 20px;
	}

	#text_wrapper_left,
	#text_wrapper_right,
	#text_wrapper_left_logo {
		max-width: 300px;
	}

	#demo_product_left,
	#demo_product_right,
	#demo_logo_left {
		background-position: center;
		padding: 30px;
	}

	#demo_product_left #text_wrapper_left,
	#demo_product_right #text_wrapper_right,
	#demo_logo_left #text_wrapper_left_logo {
		transform: none;
	}

	#demo_product_left,
	#demo_product_right,
	#demo_logo_left {
		transform: translateX(0);
		padding: 0;
		margin-bottom: 10px;
	}

	#demo_product_right {
		margin-top: 200px;
		margin-bottom: 240px;
	}


	#demo_product_right h1 {
		margin-top: 500px;
		margin: 0;
		padding: 0;
	}

	#demo_product_left h1 {
		margin-top: 500px;
		margin: 0;
		padding: 5px;
	}

	#demo_logo_left h1 {
		margin-top: 500px;
		margin: 0;
		padding: 5px;
	}

	#demo_product_right #text_wrapper_right,
	#demo_product_left #text_wrapper_left,
	#demo_logo_left #text_wrapper_left_logo {
		transform: translateY(230px);
	}

}

@media screen and (max-width: 1200px) {
	#demo_product_left {
		margin-top: 20px;
	}

	#demo_logo_left {
		margin-top: 400px;
	}

	#demo_product_left,
	#demo_product_right,
	#demo_logo_left {
		background-position: center;
		padding: 30px;
		width: auto;
		height: 300px;

	}

	#demo_product_left #text_wrapper_left,
	#demo_product_right #text_wrapper_right,
	#demo_logoleft #text_wrapper_left_logo {
		transform: none;
	}

	#demo_product_left,
	#demo_product_right,
	#demo_logo_left {
		transform: translateX(0);
		padding: 0;
		margin-bottom: 350px;
	}

	#demo_product_right {
		margin-top: 400px;
		margin-bottom: 240px;
	}


	#demo_product_right h1 {
		margin-top: 500px;
		margin: 0;
		padding: 0;
	}

	#demo_product_left h1 {
		margin-top: 500px;
		margin: 0;
		padding: 5px;
	}

	#demo_logo_left h1 {
		margin-top: 500px;
		margin: 0;
		padding: 5px;
	}

	#demo_product_right #text_wrapper_right,
	#demo_product_left #text_wrapper_left,
	#demo_logo_left #text_wrapper_left_logo {
		transform: translateY(345px);
	}
}
