
body {
    font-family: "adobe-garamond-pro", serif;
    font-weight: 400;
    font-style: normal;
    color:rgb(60,60,80);
    background-color:#fff3EB;
  
    /*background: url("../images/demo_background.png")no-repeat;*/
    /*background: url("../images/vector_graphic_tmp.jpg") no-repeat;*/

}

section h1 {
    font-family: "amandine", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3em;
}
section{
    margin-bottom: 100px;
    margin-top: 100px;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #FFFDFB;
    border-radius:20px;
}

section .intro-paragraph{
    display:flex;
    align-items:center;
    justify-content: center;
    margin-left: 200px;
    height: 400px; 
    width: 400px; /* Adjust the width as needed */
    resize: vertical;
    text-align: center;

}


.form-section{
  /*    
  background: url("https://i.imgur.com/YwMvKWD.jpeg") no-repeat;
    background-size: cover;
    background-position: center;
  */
    background-color:#fff3EB;
    background: url("https://i.imgur.com/vwqUyIL.png") no-repeat;
    background-position: right;
    background-size: 100% 100%;
    background-size: contain;
    position: relative;
    flex: 1;
    padding: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;

    margin-right: 40px;
    transform: translateX(10px);
}


.asterisk{
    color:red;
    font-size: 0.9em;
}






fieldset legend{
    font-family: "amandine", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.25em;
}


.form_wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background: transparent;
    background: rgba(255, 255, 255, 0.4);
    
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    backdrop-filter: blur(15px);
    width: 625px;
    margin: 0;

    border-radius: 20px;
}

.form_wrapper fieldset {
    border-radius: 15px;
    margin-bottom: 0px;
}

#firstName {
    width:26%;
    margin-right:5%;
  
}

#lastName {
    width:27%;
}

#postcode {
    width: 20%;
    margin-left:5px;
}
#state {
    margin-left:3px;
    background:#e5e5e5;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    width: 10%;
    font-size: 11px;
}
#postcode + label, #state + label {
    margin-left: 30px; /* Adjust this value as needed */
}


.input-box {
  background:#e5e5e5;
  border:none;
  outline:none;
  border: 2px solid rgba(255,255,255,.2);
  border-radius: 40px;
  width: 50%;
  margin-left:1%;
  font-size: 12px;
  padding:1px 10px 0px 10px;
  margin-bottom: 7px;
}

fieldset label i {
    margin-right: 10px;
}

#product {
    background:#e5e5e5;
    border:none;
    outline:none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    width: 40%;
    margin-left:1%;
    font-size: 12px;
    padding:1px 10px 0px 10px;
}

#comments {
  height: 150px; 
  width:400px;
  resize: vertical;
  border-radius: 7px;
}

.submit-button{
    width: 100%;
    height: 45px;
    background: #fca311;
    border: none;
    outline:none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-family: "amandine", sans-serif;
    font-weight: 700;
    font-style: normal;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    margin-top: 15px;
    margin-bottom: 15px;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #14213d;
    color: white; 
    padding: 20px;
    border-radius:20px;
}

hr{
    margin-top: 50px;
}

section[label="footer"] {

    background-color: #14213d;
    color: white;
    text-align: center;
    height: 300px;
}


/* Above is my stuff below is nav header*/

header {
    background: linear-gradient(to right, #333, #1e90ff);
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, box-shadow 0.3s ease;
      font-family: "amandine", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4em;
  border-radius: 10px;
}

header:hover {
    background: linear-gradient(to right, #1e90ff, #333); 
}

nav {
    display: flex;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.logo a:hover {
    color: #ff8c00; 
}



.nav-img{
 width: 50px;
 height:50px;
 padding-right: 8px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

